.container{
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    gap: 10px;
}
.column{
    flex-basis: 80%;
    background: rgb(223, 250, 248);
    min-height: 90vh;
    padding: 10px;
    border-radius: 10px;
}
#Tag_List{
    flex-basis: 20%;
    background: rgb(233, 229, 229);
    min-height: 90vh;
    padding: 10px;
    border-radius: 10px;
}
#Tag_List h1{
    text-align: center;
    font-size: 22px;
}
.column h1{
    text-align: center;
    font-size: 22px;
}
.item{
    background: #fff;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.invisible{
    display: none;
}